{% extends "layout.html" %}
{% block content %}

 <div class="container">
   <div class="row">
     <div class="col-md-4">
 		<form action="/events/add_event" method="POST">
    	  <label for="type">Tapahtumatyyppi:</label> 
    	  <select name="type" id="type">
      	    <option value="0">Harjoitukset</option>
      	    <option value="1">Ottelu</option>
    	  </select>
    	  <p>Päivä: <input type="date" name="date" required></p>
    	  <p>Aika: <input type="time" name="time" required></p>
    	  <p>Tapahtuman otsikko: <input type="text" name="name" required></p>
    	  <p>Paikka: <input type="text" name="location"></p>
    	  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    	  <input type="submit" value="Luo tapahtuma">
  		</form>
  	  </div>
  	</div>
  </div>

{% endblock %}
