{% extends "layout.html" %}
{% block content %}

	<h4>Muokkaa käyttäjää</h4>
{{ user[0] }}  
  <form action="/users/edit" method="post">
	<p> Etunimi {{ form.first_name(value=user[1]) }}
	<p> Sukunimi {{ form.last_name(value=user[2]) }}
	{% if player %}
	<p> {{ form.jersey.label }} {{ form.jersey(value=player[2]) }}
	<p> {{ form.height.label }} {{ form.height(value=player[3]) }}
	<p> {{ form.weight.label }} {{ form.weight(value=player[4]) }}
	<p> {{ form.position.label }} {{ form.position(value=player[9]) }}
	{% endif %}
	<p> {{ form.submit }} {{ form.cancel }}
	{{ form.user_id(value=user[0]) }}

  </form>


{% endblock %}
