{% extends "layout.html" %}
{% block content %}

  <div class="container">
	<div class="row">
	  <h1 style="left-padding: 16px;">Muokkaa käyttäjää</h1>
    </div>
  	<div class="row">
  	  <div class="col-md-4">
  		<form action="/users/edit" method="post">
		  <p> Etunimi {{ form.first_name(value=user[1]) }}</p>
		  <p> Sukunimi {{ form.last_name(value=user[2]) }}</p>
		  {% if player %}
		  	<p> {{ form.jersey.label }} {{ form.jersey(value=player[2]) }}</p>
		  	<p> {{ form.height.label }} {{ form.height(value=player[3]) }}</p>
		  	<p> {{ form.weight.label }} {{ form.weight(value=player[4]) }}</p>
			<p> {{ form.position.label }} {{ form.position(value=player[9]) }}</p>
		  {% endif %}
		  <p> {{ form.submit }} {{ form.cancel }}</p>
		  {{ form.user_id(value=user[0]) }}
		  {{ form.csrf_token(value=session.csrf_token) }}
  		</form>
  	  </div>
    </div>
  </div>

{% endblock %}
