{% extends "layout.html" %}
{% block content %}

  {% for e in event %}
    <h2>{{ e[3] }}</h2>
    <p> 
      Aika: {{ e[2] }} {{ e[3] }}<br>
      Paikka: {{ e[5] }}<br>
    </p>


	<p>	Ilmoittautuneet:
	  <ul>
  		{% for s in sign_ups %}
	  	<li>{{ s[0] }} {{ s[2] }}</li>
	  	{% endfor %}
	  </ul>

    <p>
       <form action="/event/{{ e[4] }}" method="post">
         Ilmoittaudu:
         {{ s_form.user_id(value=session.user_id) }}
         {{ s_form.event_id(value=e[4]) }}
         {{ s_form.player_in }}
         {{ s_form.player_out }}
      </form>
    </p>

     <p>
       Kommentit: <br>
       {% for comment in comments %}

       <p>
         {{ comment[0] }} {{ comment[4] }} {{ comment[5] }} <br>
         {{ comment[3] }}<br>
       </p>
       {% endfor %}
     </p>

     <form action="/event/{{ e[4] }}" method="post">
         <p>
           {{ (form.message) }}
         </p>
           {{ form.event_id(value=e[4]) }}
           {{ form.user_id(value=session.user_id) }}
           {{ form.submit }}
     </form>

     {% if mod_rights %}
     <p>
       <a href=/event/edit/{{e[4]}}><i class="far fa-edit" font-size:32px;></i>Muokkaa</a>
       <a href=/event/delete/{{e[4]}}><i class="far fa-trash-alt" font-size:32px;></i>Poista</a>
     </p>
     {% endif %}

  {% endfor %}
{% endblock %}
