{% extends "layout.html" %}
{% block content %}

  <h1>Tulevat tapahtumat</h2>

  <a href=/add_event> <i class="far fa-plus-square" font-size: 32px;></i> Lisää tapahtuma</a>

  {% for event in events %}
    <p>
      {{ event[1] }}
      {{ event[2] }}
      {{ event[3] }} @
      {{ event[5] }}
    </p>
    <p>
      Ilmoittautuneet:
      {% for sign_up in sign_ups %}
        {% if sign_up[1] == event[4] %}
          <br>
	  {{ sign_up[0] }}
          {{ sign_up[2] }}
        {% endif %}
      {% endfor %}
    </p>
    <p>
      Kommentit: {{ event[7] }} <br>
      {{ event[6] }} {{ event[8] }} {{ event[9] }}
    </p>
    <p>
      <form action="/events" method="post">
        Viesti: <br>
        <textarea name="content" rows="3" cols="40"></textarea><br>
        <input type="submit" value="Lähetä">
      </form>
    </p>
  <hr>
{% endfor %}
{% endblock %}
