{% extends "layout.html" %}
{% block content %}

  <h1>Tulevat tapahtumat</h2>

  <a href=/add_event> <i class="far fa-plus-square" font-size: 32px;></i> Lisää tapahtuma</a>

  {% for event in events %}
    <p>
      <a href=/event/{{ event[4] }}> {{ event[1] }} {{ event[2] }} {{ event[3] }} @ {{ event[5] }}</a>
    </p>
    <p>
      Ilmoittautuneet:
      {% for sign_up in sign_ups %}
        {% if sign_up[1] == event[4] %}
          <br>
	  {{ sign_up[0] }}
          {{ sign_up[2] }}
        {% endif %}
      {% endfor %}
    </p>
    <p>

	  Kommentit: <br>
      {% for comment in comments %}
      
	  {% if comment[1] == event[4] %}
	  <p>
	  {{ comment[0] }} {{ comment[4] }} {{ comment[5] }} <br>
	  {{ comment[3] }}<br>
	  </p>
	  {% endif %}
	  {% endfor %}
    </p>

{% from "_formhelper.html" import render_field %}
	<form action="/events" method="post">
	    <p>
 		  {{ render_field(form.message) }}
	 	</p>
	 	<p>
	 	  {{ form.event_id(value=event[4]) }}
		</p>
	 	<p>
	 	  {{ form.user_id(value=session.user_id) }}
		</p>
		<input type=submit value=Lisää kommentti>
	</form>
  <hr>
{% endfor %}
{% endblock %}
