{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>Teammate</h1>
      <h2>Koripallojoukkueen apusivusto</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <a href="/players"><i class="fas fa-running" style="color:cornflowerblue; font-size:96px;" alt="juokseva tikku-ukko"></i></a>
      <br><a href="/players">Pelaajat</a>
    </div>
    <div class="col-md-4">
      <a href="/events"><i class="fas fa-calendar-day" style="color:limegreen; font-size:96px;" alt="kalenteri"></i></a>
      <br><a href="/events">Tapahtumat</a>
    </div>
    <div class="col-md-4">
      <a href="/stats"><i class="far fa-chart-bar" style="color:orange; font-size:96px;" alt="diagrammi"></i></a>
      <br><a href="/stats">Tilastot</a>
    </div>
  </div>
</div>
{% endblock %}
