<!doctype html>
{% if session.user_id %}
{% extends "bootstrap/base.html" %}
  <head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Teammate - korisjoukkueen ilmoittautumis- ja tilastoapplikaatio</title>
  </head>
	{% block scripts %}
	{{ super() }}
	<script src="https://kit.fontawesome.com/bad4aeaed6.js" crossorigin="anonymous"></script>
    {% endblock %}
	{% block navbar %}
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: orange">
   		<div class="container">
      	  <a class="navbar-brand" href="/"><i class="fas fa-home" style="font-size:32px; color:white;" alt="house"></i> Teammate</a>
  		</div>
      	<div class="container" style="font-size: 16px;">
      	    <a class="nav-link" href="/players"><i class="fas fa-running" style="color:cornflowerblue; padding-left:8px; padding-right:4px;" alt="juokseva tikku-ukko">
      	    </i>Pelaajat</a>
      	    <a class="nav-link" href="/events"><i class="fas fa-calendar-day" style="color:limegreen; padding-left:8px; padding-right:8px;" alt="kalenteri"></i>Tapahtumat</a>
      	    <a class="nav-link" href="/stats"><i class="far fa-chart-bar" style="color:white; padding-left:8px; padding-right:8px;" alt="diagrammi"></i>Tilastot</a>
            <a class="nav-link" href="/users/edit/{{ session.user_id }}" style="padding-left:8px; padding-right:8px;">Muokkaa tietojasi</a>
            <a class="nav-link" href="/users"  style="padding-left:8px; padding-right:8px;">Käyttäjät</a>
            <a class="nav-link" href="/logout" style="padding-left:8px; padding-right:8px;">Kirjaudu ulos</a>
		    <a class="nav-link disabled" style="padding-left:8px; padding-right:8px;">Olet kirjautunut nimellä {{ session.first_name }}</a>
      	    </div>
		  </div>
      </nav>
    {% endblock %}

  {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

  
{% block content %}
{% endblock %}

{% else %}
<html>
  <head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
  <div class=container>
    <div class="row">
      <div class="col">
      </div>
      <div class="col-6">
	 	<form action="/login" method="POST">
       	  <p>Tunnus:<br>
      	  <input type="text" name="username"></p>
      	  <p>Salasana:<br>
      	  <input type="password" name="password"></p>
      	  <input type="submit" value="Kirjaudu">
        </form>
    	<p>
      	  Eikö tunnuksia? <a href="/register">Rekisteröidy käyttäjäksi</a>
    	</p>
      </div>
      <div class="col">
      </div>
  </div>
</body>
</html>
{% endif %}

