{% extends "layout.html" %}
{% block content %}

 <div class="container">
	<div class="row">
	  <h1 style="padding-left:16px;">Harjoittelutilastoja</h1>
	</div>
	<div class="row">
	  <div class="col-md-4">
		<h4>Eniten osallistuneet:</h4>
	  	  <table class="table table-striped">
	    	<thead>
	    	  <tr>
	  	  		<th>Pelaaja</th>
	  	  		<th>Ilmoittautumisten määrä</th>
	  		  </tr>
  		    </thead>
  		  {% for player in most_in %}
	  		<tr>
		  	  <td><a href=/players/{{ player[2] }}>{{ player[0] }}</a></td>
		  	  <td>{{ player[1] }}</td>
			</tr>
	  	  {% endfor %}
	  	</table>
	  </div>
	  
	  <div class="col-md-4">
	  	<h4>Suosituimmat tapahtumat:</h4>
	  	  <table>
	  	  	<thead>
	    	  <tr>
	  	  		<th>Tapahtuma</th>
	  	  		<th>Osallistujaprosentti</th>
	  		  </tr>
  		 	</thead>
  		  	{% for event in pop_event %}
	  		  <tr>
		  		<td><a href=/event/{{ event[0] }}> {{ event[1] }} ({{ event[2] }}</a></td>
		  		<td>{{ event[4] }}</td>
			  </tr>
	  	    {% endfor %}
	  	  <table>
	  </div>
    </div>	 
  </div>

{% endblock %}
