{% extends "layout.html" %}
{% block content %}
	<p>
	  <h4>Eniten osallistuneet:</h4>
	  <table>
	    <tr>
	  	  <th>Pelaaja</th>
	  	  <th>Ilmoittautumisten määrä</th>
	  	</tr>
  		  {% for player in most_in %}
	  	<tr>
		  <th><a href=/players/{{ player[2] }}> {{ player[0] }}</a></th>
		  <th>{{ player[1] }}</th>
		</tr>
	  	  {% endfor %}
	  <table>
	</p>
	<p>
	  <h4>Suosituimmat tapahtumat:</h4>
	  <table>
	    <tr>
	  	  <th>Tapahtuma</th>
	  	  <th>Osallistujaprosentti</th>
	  	</tr>
  		  {% for event in pop_event %}
	  	<tr>
		  <th><a href=/event/{{ event[0] }}> {{ event[1] }} ({{ event[2] }}</a></th>
		  <th>{{ event[4] }}</th>
		</tr>
	  	  {% endfor %}
	  <table>
	</p>

{% endblock %}
