  <form action="/register" method="post">
    Tunnus: <input type="text" name="username" required> 
    Salasana: <input type="password" name="password" required>

    Etunimi: <input type="text" name="first_name" required size="16">
    Sukunimi: <input type="text" name="last_name" required size="32">
    Pelinumero: <input type="number" name="jersey" size="2">
    Pituus: <input type="number" name="height" size="3">
    Weight: <input type="number" name="weight" size="3">

    <input type="submit" value="Luo tunnus">
