<form action="/register" method="post">
  <p> {{ form.username.label }} {{ form.username }}</p>
  <p> {{ form.password.label }} {{ form.password }}</p>
  <p> {{ form.confirm.label }} {{ form.confirm }}</p>
  <p> {{ form.first_name.label }} {{ form.first_name }}</p>
  <p> {{ form.last_name.label }} {{ form.last_name }}</p>
  <p> {{ form.player.label }} {{ form.player }}</p>
  <p> {{ form.jersey.label }} {{ form.jersey }}</p>
  <p> {{ form.height.label }} {{ form.height }}</p>
  <p> {{ form.weight.label }} {{ form.weight }}</p>
  <p> {{ form.position.label }} {{ form.position }}</p>
  	<input type=submit value=Rekisteröidy>
</form>

